In [2]:
import pandas as pd
import numpy as np

In [3]:
train_para_ = pd.read_csv('./raw_dataset/train_para.csv', header=None)
train_ques_ = pd.read_csv('./raw_dataset/train_ques.csv', header=None)
train_label_ = pd.read_csv('./raw_dataset/train_label.csv', header=None)

test_para_ = pd.read_csv('./raw_dataset/test_para.csv', header=None)
test_ques_ = pd.read_csv('./raw_dataset/test_ques.csv', header=None)

In [4]:
print(train_para_.head(2))

          0         1         2         3         4         5         6  \
0  3.340594  0.000434  2.720928  4.408517  3.432302  9.481677  3.577184
1  2.770955  8.997431  7.173936  3.773383  7.378616  7.840147  8.979185

          7         8         9
0  2.018318  1.663517  4.958070
1  6.380727  3.806432  7.261397

In [5]:
print(train_ques_.head(2))

          0         1         2
0  6.559813  4.229264  6.387243
1  8.800270  9.939308  7.340850

In [6]:
print(train_label_.head(2))

     0
0  0.0
1  1.0

In [7]:
print(test_para_.head(2))

          0         1         2         3         4         5         6  \
0  7.849226  5.193785  5.040225  6.684869  8.818238  8.422230  0.150438
1  2.772126  9.298893  4.876048  2.322033  2.634193  9.260733  4.103466

          7         8         9
0  6.265978  9.777858  9.122235
1  3.114357  9.370847  0.578084

In [8]:
print(test_ques_.head(2))

          0          1         2
0  4.068304   3.580907  6.537658
1  8.620949  10.198278  7.381193

# 对于Train 的 para

In [9]:
v_p = train_para_.head(32000-3200)
v_p.head(2)

,0,1,2,3,4,5,6,7,8,9
0,3.340594,0.000434,2.720928,4.408517,3.432302,9.481677,3.577184,2.018318,1.663517,4.958070
1,2.770955,8.997431,7.173936,3.773383,7.378616,7.840147,8.979185,6.380727,3.806432,7.261397

In [10]:
v_p.to_csv('train_para.csv', header=None, index=None)

In [11]:
v_p = pd.read_csv('train_para.csv', header=None)
v_p.head(2)

,0,1,2,3,4,5,6,7,8,9
0,3.340594,0.000434,2.720928,4.408517,3.432302,9.481677,3.577184,2.018318,1.663517,4.958070
1,2.770955,8.997431,7.173936,3.773383,7.378616,7.840147,8.979185,6.380727,3.806432,7.261397

# 对于 Train 的 ques

In [12]:
v_p = train_ques_.head(32000-3200)
v_p.head(2)

          0         1         2
0  6.559813  4.229264  6.387243
1  8.800270  9.939308  7.340850

In [13]:
v_p.to_csv('train_ques.csv', header=None, index=None)

In [14]:
v_p = pd.read_csv('train_ques.csv', header=None)
v_p.head(2)

          0         1         2
0  6.559813  4.229264  6.387243
1  8.800270  9.939308  7.340850

# 对于 Train 的 label

In [15]:
v_p = train_label_.head(32000-3200)
v_p.head(2)

     0
0  0.0
1  1.0

In [16]:
v_p.to_csv('train_label.csv', header=None, index=None)

In [17]:
v_p = pd.read_csv('train_label.csv', header=None)
v_p.head(2)

     0
0  0.0
1  1.0

# 对于 Val 的 para

In [18]:
v_p = train_para_.tail(3200)
v_p.head(2)

,0,1,2,3,4,5,6,7,8,9
28800,2.926270,6.917750,4.714107,1.433675,8.964988,0.648070,3.769303,4.256394,9.661645,2.547954
28801,4.651942,3.200172,5.421760,5.164606,3.705000,9.955713,7.182072,3.875201,8.857617,1.240602

In [19]:
v_p.to_csv('val_para.csv', header=None, index=None)

In [20]:
v_p = pd.read_csv('val_para.csv', header=None)
v_p.head(2)

,0,1,2,3,4,5,6,7,8,9
0,2.926270,6.917750,4.714107,1.433675,8.964988,0.648070,3.769303,4.256394,9.661645,2.547954
1,4.651942,3.200172,5.421760,5.164606,3.705000,9.955713,7.182072,3.875201,8.857617,1.240602

# 对于 Val 的 ques

In [21]:
v_p = train_ques_.tail(3200)
v_p.head(2)

              0         1         2
28800  2.253285  0.349205  9.695214
28801  3.109855  1.325272  9.121063

In [22]:
v_p.to_csv('val_ques.csv', header=None, index=None)

In [23]:
v_p = pd.read_csv('val_ques.csv', header=None)
v_p.head(2)

          0         1         2
0  2.253285  0.349205  9.695214
1  3.109855  1.325272  9.121063

# 对于 Val 的 label

In [24]:
v_p = train_label_.tail(3200)
v_p.head(2)

         0
28800  0.0
28801  0.0

In [25]:
v_p.to_csv('val_label.csv', header=None, index=None)

In [26]:
v_p = pd.read_csv('val_label.csv', header=None)
v_p.head(2)

     0
0  0.0
1  0.0

In [27]:
train_para = train_para_.values
train_ques = train_ques_.values
train_label = train_label_.values

test_para = test_para_.values
test_ques = test_ques_.values

In [32]:
train_para.shape

(32000, 10)

In [33]:
train_ques.shape

(32000, 3)

In [34]:
type(train_para)

numpy.ndarray

In [36]:
train_para[1]

array([ 2.77095535,  8.99743126,  7.17393616,  3.77338269,  7.37861565,
        7.84014654,  8.97918525,  6.3807271 ,  3.8064322 ,  7.26139651])

In [28]:
print(train_label.shape)

(32000, 1)

In [ ]:
#

In [29]:
def isclose(a, b, rel_tol=1e-09, abs_tol=0.0):
    return abs(a-b) <= max(rel_tol * max(abs(a), abs(b)), abs_tol)
def IsEqual(a, b, c):
    return isclose(a, b) and isclose(a, c)

In [30]:
IsEqual(1, 2, 3)

False

In [31]:
IsEqual(1., 1, 1)

True

In [35]:
def IsAnswer(p, q):
    Flag = 0
    for i in range(8): # 0,1,2,3,4,5,6,7
        if IsEqual(p[i]-q[0], p[i+1]-q[1], p[i+2]-q[2]):
            Flag=1
            return 1.0
    if Flag is 0:
        return 0.0

In [37]:
pred_label = []
for i in range(train_para.shape[0]):
    para = train_para[i]
    ques = train_ques[i]
    label = train_label[i]
    pred_label.append(IsAnswer(para, ques))

In [38]:
a = train_label.reshape(-1)

In [39]:
a.shape

(32000,)

In [40]:
type(a)

numpy.ndarray

In [41]:
np.argwhere(np.array(pred_label) - train_label.reshape(-1))

array([], shape=(0, 1), dtype=int64)

In [47]:
len(pred_label)

32000

In [50]:
tmp =train_label.reshape(-1)

In [51]:
tmp1 = np.array(pred_label)

In [52]:
count = 0
for i in range(len(pred_label)):
    if tmp[i] == tmp1[i]:
        count += 1
count/len(pred_label)

1.0

In [53]:
pred_label = []
for i in range(test_para.shape[0]):
    para = test_para[i]
    ques = test_ques[i]
    pred_label.append(IsAnswer(para, ques))

In [54]:
pred_label

[0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [55]:
len(pred_label)

1000

In [56]:
df = pd.DataFrame({'pred': pred_label})
df.head(2)

   pred
0   0.0
1   0.0

In [57]:
df.to_csv('test_pred.csv', header=None, index=None)

In [58]:
test_pred = pd.read_csv('test_pred.csv', header=None)
test_pred.head(3)

     0
0  0.0
1  0.0
2  0.0